<h1>Recipes#index</h1>

<% unless @recipes.empty? %>
  <% @recipes.each do |recipe| %>
    <div class="recipe-card">
      <ul>
        <div><%= image_for(recipe["id"], :thumbnail) %></div>
        <li><strong>title </strong><%= recipe["title"] %></li>
        <li><strong>readyInMinutes </strong><%= recipe["readyInMinutes"] %></li>
        <li><strong>servings </strong><%= recipe["servings"] %></li>
      </ul>
      <%= link_to "view recipe", recipe_path(recipe["id"]) %>
    </div>
  <% end %>
<% else %>
  <p>Sorry, there were no recipe results for “<%= @search %>”</p>
<% end %>

<%= will_paginate @recipes %>