<article>
  <div id="recipe-image-container-mobile">
    <%= image_for @recipe.id, :source unless @recipe.image.nil? %>
  </div>
  <div id="recipe-content" class="container">
    <header>
      <div id="recipe-header-info">
        <div class="recipe-title">
          <h1><%= @recipe.title %></h1> 
          <span class="subtitle attribution">from
            <%= link_to @recipe.creditsText, @recipe.sourceUrl %>
          </span>
        </div>

        <div class="recipe-meta">
          <div class="info-bar">
            <div class="info-bar-item">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <title>Ready in minutes</title>
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M15 1H9v2h6V1zm-4 13h2V8h-2v6zm8.03-6.61l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42C16.07 4.74 14.12 4 12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.12-.74-4.07-1.97-5.61zM12 20c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
              </svg>
              <span id="ready-in-minutes" class="info-number"><%= @recipe["readyInMinutes"] %></span>
              <span class="minutes-text">Minutes</span>
            </div>
            <div class="divider"></div>
            <div class="info-bar-item">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <title>Servings</title>
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M8.1 13.34l2.83-2.83L3.91 3.5c-1.56 1.56-1.56 4.09 0 5.66l4.19 4.18zm6.78-1.81c1.53.71 3.68.21 5.27-1.38 1.91-1.91 2.28-4.65.81-6.12-1.46-1.46-4.2-1.1-6.12.81-1.59 1.59-2.09 3.74-1.38 5.27L3.7 19.87l1.41 1.41L12 14.41l6.88 6.88 1.41-1.41L13.41 13l1.47-1.47z"/>
              </svg>
              <span id="servings" class="info-number"><%= @recipe["servings"] %></span>
              <span class="servings-text">Servings</span>
            </div>
            <div class="divider"></div>
            <div class="info-bar-item">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <title><%= @nutrition[0]["title"] %></title>
                <path d="M11 9H9V2H7v7H5V2H3v7c0 2.12 1.66 3.84 3.75 3.97V22h2.5v-9.03C11.34 12.84 13 11.12 13 9V2h-2v7zm5-3v8h2.5v8H21V2c-2.76 0-5 2.24-5 4z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
              </svg>
              <span id="calories" class="info-number"><%= @nutrition[0]["amount"] %></span>
              <span class="calories-text"><%= @nutrition[0]["title"] %></span>
            </div>
          </div>
          <div class="diets">
            <%= render "diets" %>
          </div>
        </div>
      </div>

      <div id="recipe-image-container-desktop"> 
        <%= image_for @recipe.id, :source unless @recipe.image.nil? %>
      </div>
    </header>
    <div class="section-divider"></div>
    <section class="checklist">
      <h2>Ingredients</h2>
      <% @recipe.extendedIngredients.each do |ingredient| %>
        <label class="checklist-item line-through"> <%= ingredient["originalString"] %>
          <input type="checkbox">
          <span class="custom-checkbox"></span>
        </label>
      <% end %>
    </section>

    <section class="instructions">
      <% unless @recipe.analyzedInstructions.empty? %>
      <ol>
        <h2>Instructions</h2>
        <% @recipe.analyzedInstructions.first["steps"].each do |step| %>
          <li><%= step["step"] %></li>
        <% end %>
        <ol>
      <% end %>
    </section>
  </div>
</article>