  <div id="mobile-nav">
    <div class="mobile-nav-header">
      <div class="logo"><%= render "layouts/logo" %></div>
      <span class="logo-text-sidebar">cookbook</span>
    </div>
    <ul class="mobile-nav-links"> 
      <li><%=link_to "home", root_path %></li>
      <% if user_signed_in? %>
        <div class="divider"></div>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Account settings", edit_user_registration_path(current_user) %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
  <div id="mobile-nav-close" onclick="closeNav()"></div>